body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
}

.header {
    background: url('https://cdn.pixabay.com/photo/2016/01/09/18/27/camera-1130731_1280.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.logo {
    flex: 2; /* 로고를 헤더의 왼쪽에 위치시키기 위해 flex 속성 추가 */
}

.logo img {
    width: 150px; /* 로고 이미지의 너비 설정 */
    height: auto; /* 높이 자동으로 설정 */
    display: block; /* 이미지가 인라인 요소로 되어 있을 경우 블록 요소로 변경 */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
}

.header-content {
    flex: 1;
    text-align: center;
    padding: 30px;
    /* 투명도가 있는 박스 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    background-color: rgba(0, 0, 0, 0.5); /* 흰색 박스, 투명도 조절 */
    border-radius: 5px; /* 모서리 둥글게 만들기 */
}
.header h1 {
    font-size: 4rem;
    margin: 0;
}

.header p {
    font-size: 1.5rem;
    margin: 10px 0 20px;
}

.header a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s, color 0.3s;
}

.header a:hover {
    background: white;
    color: #333;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 20px;
    font-size: 1.5rem;
}

.card p {
    margin: 0 20px 20px;
    color: #666;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}

