{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ question.question_text }}</h1>
    <form action="{% url 'questions:vote' question.id %}" method="post">
        {% csrf_token %}
        <ul>
            {% for choice in question.choice_set.all %}
                <li>
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </li>
            {% empty %}
                <li>No choices available for this question.</li>
            {% endfor %}
        </ul>
        <button type="submit">Vote</button>
    </form>
    <div>
        {% if question.id > 1 %}
            <a href="{% url 'questions:question_detail' question.id|add:-1 %}">Previous</a>
        {% endif %}
        {% if question.id < question_count %}
            <a href="{% url 'questions:question_detail' question.id|add:1 %}">Next</a>
        {% endif %}
    </div>
{% endblock %}
