{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'questions/css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
<h1>당신의 여행 성향은?</h1>
<h2>{result}</h2>
    <h3>이상적인 여행지</h3>
    <div>
        <img src="{{ ai_image }}">
    </div>
    <ul>
        {% for item in items %}
        <div>
            <img src="{{ item.firstimage }}">
        </div>
        <li>{{ item.title }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

