<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여기추천</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/styles.css' %}">
</head>
<body>
    <nav id="nav">
        <ul>
            <li><a href="index.html" class="active"><i class="fas fa-home"></i></a></li>
            <li><a href="gallery.html"><i class="fas fa-camera"></i></a></li>
            <li><a href="generic.html"><i class="fas fa-file"></i></a></li>
            <li><a href="login.html" style="font-size: 12px;">로그인</a></li>
            <li><a href="signup.html" style="font-size: 12px;">회원가입</a></li>
        </ul>
    </nav>
    <header class="header">
        <div class="header-content">
            <h1>환영합니다. 이번 목적지는</h1>
            <h1>"여기추천"</h1>
            <p>나에게 맞는 여행지를 찾아보세요.</p>
            <a href="{% url 'common:signup' %}">회원가입</a>
            {% if user.is_authenticated %}
            <a href="{% url 'common:logout' %}">{{ user.username }} 로그아웃</a>
            {% else %}
            <a href="{% url 'common:login' %}">로그인</a>
            {% endif %}
            <p>
                <a href="{% url 'questions:question_detail' question_id=1 %}">여행 추천 받기</a>
            </p>
            <p>
                <a href="{% url 'mainApp:chatbot_view' %}">챗봇 대화</a>
            </p>

        </div>
    </header>
    <div class="content" id="content">
        <h2>Popular Destinations</h2>
        <div class="cards">
            <div class="card">
                <img src="{% static 'mainApp/images/destination1.jpg' %}" alt="Destination 1">
                <h3>Destination 1</h3>
                <p>Explore the beauty of Destination 1 with its stunning landscapes and rich culture.</p>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/300x200" alt="Destination 2">
                <h3>Destination 2</h3>
                <p>Experience the vibrant city life and historical landmarks of Destination 2.</p>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/300x200" alt="Destination 3">
                <h3>Destination 3</h3>
                <p>Relax on the pristine beaches and enjoy the tropical climate of Destination 3.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="logo">
            <img src="{% static 'mainApp/images/logo.png' %}" alt="Travel Site Logo">
        </div>
        <p>&copy; 2024 Travel Site. All rights reserved.</p>
    </footer>
</body>
</html>
