{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h2 class="text-center mb-4">회원가입</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="btn btn-primary">확인</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
